<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">

        Sistema para exemplificar a contrução de um cadastro em Angular
        <br> Onde adicionamos Produtos e Preços
        <p class="texto">
            <br>
            <strong>
                Onde: Usamos o CRUD > Create, Read, Update, Delete
            </strong>
            <br>
            <br> Tudo funcionando perfeitamente, aplicação em Angular SPA(Single-Page Application)
        </p>

    </mat-card-subtitle>
</mat-card>